.hero-main-container {
  position: relative;

  .bubble-right,
  .bubble-left {
    position: absolute;
    opacity: 0.25;
    z-index: 1;
    animation: float 5s ease-in-out infinite;
  }

  .bubble-right {
    right: -200px;
    bottom: 50px;
  }

  .bubble-left {
    left: 0;
    bottom: 0px;
  }

  /* Variación de tiempo para que no se muevan igual */
  .bubble-left {
    animation-duration: 6s;
  }

  .hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 2;
    position: relative;

    .main-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10%;
      .main-title {
        display: flex;
        align-items: start;
        justify-content: center;

        h1 {
          font-size: clamp(64px, 12.5vw, 240px);
          color: $white-color;
          line-height: clamp(52px, 10vw, 192px);
        }
        p {
          font-size: clamp(16px, 1.042vw, 20px);
          color: $white-color;
          max-width: 20%;
          margin-left: 16px;
          margin-top: 32px;
        }
      }
    }

    .bottom-main-container {
      width: 100%;
      padding-bottom: clamp(24px, 3.333vw, 64px);
      .bottom-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bottom-item {
          .scroll-down-container {
            position: relative;
            .view-works {
              position: absolute;
              bottom: 175px;
              right: 50%;
              margin-right: -139px;
              .view-works-link {
                position: relative;
                display: block;
                transform: rotate(-90deg);
                text-decoration: none;
                color: $white-color;
                font-size: 20px;
                padding: 32px 124px 32px 32px;
                background-color: #4d4d4d8c;
                text-wrap: nowrap;
                text-transform: uppercase;
                transition: 300ms all;
                &:hover {
                  background-color: $white-color;
                  color: $black-color;
                }
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  right: -10px;
                  width: 3px;
                  height: 100%;
                  background-color: #4d4d4d63;
                }
              }
            }

            .scroll-down {
              margin-top: 24px;
              .scroll-down-link {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img {
                  margin-bottom: 12px;
                }
                small {
                  color: $white-color;
                  font-size: 12px;
                }
              }
            }
          }

          .send-email-container {
            .send-email-link {
              text-decoration: none;
              width: 80px;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              aspect-ratio: 1 / 1;
              background-color: $white-color;
              transition: 300ms all;
              position: relative;
              overflow: hidden;
              img {
                z-index: 2;
                position: relative;
              }

              .mail-black {
                transition: 300ms all;
              }

              .mail-white {
                transition: 300ms all;
                display: none;
              }

              &:hover {
                //border-radius: 12px;
                box-shadow: 4px 4px black, 5px 5px white;
                .mail-black {
                  display: none;
                }

                .mail-white {
                  display: initial;
                }

                &::after {
                  width: 450px;
                  top: -225px;
                  right: -225px;
                }
              }

              &::after {
                z-index: 1;
                transition: 300ms all;
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                width: 0px;
                height: auto;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background: radial-gradient(
                  #360dff,
                  #4d0fe6,
                  #8e17a2,
                  #bd1d71,
                  #db2053,
                  #e62248,
                  #b71c77,
                  #7214c0,
                  #460eed,
                  #360dff
                );
              }
            }
          }
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
