.logos-main-container {
  .logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .logos-content {
      width: 100%;
      .logos-item {
        padding-block: 32px;
        .row {
          justify-content: space-between;

          .logo-item {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px;
            height: 200px;
            transition: 300ms all;

            img {
              width: auto;
              opacity: 0.65;
              transition: 300ms all;
            }
            &:hover {
              img {
                opacity: 1;
                transform: scale(1.05);
              }
            }
          }
        }

        &:first-child {
          border-bottom: 1px solid $gray-color;
        }
      }
    }
  }
}
