nav {
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  .navbar-main-container {
    .navbar-container {
      padding-block: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navbar-item {
        .logo-container {
          .logo {
            text-decoration: none;
            display: flex;
            align-items: end;
            max-width: 200px;
            img {
              //margin-inline: 0.5px;
              //max-width: 15px;
              transition: 300ms all;
            }

            &:hover {
              /// C
              img:nth-child(1) {
                transform: translateY(-6px);
              }
              /// I
              img:nth-child(2) {
                transform: skew(15deg, -15deg);
              }
              /// R
              img:nth-child(3) {
                transform: translateY(6px);
              }
              /// C
              img:nth-child(4) {
                transform: rotate(90deg);
              }
              /// C
              img:nth-child(5) {
                transform: rotate(-90deg);
              }
              /// O
              img:nth-child(6) {
                transform: skew(-15deg, -15deg);
              }
              /// POINT
              img:nth-child(7) {
                transform: translateY(-6px);
              }
            }
          }
        }

        .mobile-menu-container {
          display: none;
          i {
            color: $white-color;
            font-size: 2em;
          }
        }

        .navbar-links-container {
          display: flex;
          align-items: center;
          transition: 300ms all;
          .navbar-link {
            color: $white-color;
            text-decoration: none;
            font-size: 24px;
            display: flex;
            align-items: center;
            padding: 12px 24px;
            .navbar-icon {
              margin-right: 12px;
            }

            .navbar-link-rotate {
              overflow-y: hidden;
              display: flex;
              flex-direction: column;
              .navbar-link-first {
                transform: translateY(18px);
                opacity: 1;
                transition: 300ms all;
              }
              .navbar-link-second {
                opacity: 0;
                transform: translateY(10px);
                transition: 300ms all;
              }
            }

            &:hover {
              .navbar-link-rotate {
                .navbar-link-first {
                  transform: translateY(-10px);
                  opacity: 0;
                }
                .navbar-link-second {
                  opacity: 1;
                  transform: translateY(-18px);
                }
              }
            }
          }

          .close-menu {
            display: none;
            i {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    .navbar-main-container {
      .navbar-container {
        .navbar-item {
          .mobile-menu-container {
            display: initial;
          }

          .navbar-links-container {
            position: fixed;
            z-index: 15;
            top: 0;
            right: -1024px;
            width: 100vw;
            height: 100vh;
            background-color: $black-color;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // .navbar-link {
            //   width: 100%;
            //   .navbar-icon {
            //     display: none;
            //   }
            //   .navbar-link-rotate {
            //     width: 100%;
            //     .navbar-link-first {
            //       text-transform: uppercase;
            //     }
            //     .navbar-link-second {
            //       display: none;
            //     }
            //   }
            // }

            .close-menu {
              display: initial;
            }
          }
        }
      }
    }
  }
}
