.proyectos-main-container {
  .proyectos-text-container {
    transition: 300ms all;
    position: absolute;
    bottom: 0;
    left: 0;
    .proyecto-content {
      position: absolute;
      z-index: 5;
      bottom: -64px;
      left: 124px;
      h3 {
        color: $white-color;
        transform: translateY(-150px);
        opacity: 0;
        transition: 300ms all;
        font-size: 164px;
        font-weight: bold;
        line-height: 164px;
      }
      a {
        margin-top: 64px;
        display: flex;
        font-size: 24px;
        text-transform: uppercase;
        color: $white-color;
        opacity: 0;
        transition: 300ms all;
      }
    }
    .proyectos-title-active {
      h3 {
        opacity: 1;
        transform: translateY(0);
      }
      a {
        opacity: 1;
      }
    }
  }

  .proyectos-text-container-inactive {
    position: relative;
    opacity: 0;
    pointer-events: none;
  }

  .rotate-container {
    transform: rotate(6deg) skew(160deg);
    .proyectos-container {
      display: flex;
      align-items: center;

      .proyectos-item {
        margin: 32px;
        position: relative;
        cursor: pointer;

        .proyectos-image {
          opacity: 0.25;
          width: auto;
          height: 50vh;
          position: relative;
          transition: 300ms all;
          z-index: 1;
          filter: blur(10px);
        }
      }

      .proyectos-item-active {
        .proyectos-image {
          filter: initial;
          transform: scale(1.2);
          opacity: 1;
          z-index: 3;
        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .proyectos-main-container {
    .rotate-container {
      .proyectos-container {
        .proyectos-item {
          .proyectos-image {
            height: 45vh;
          }
        }
      }
    }
  }
}
