//COLORS
$primary-color: #0b40ff;
$secondary-color: #e62248;
$white-color: #ffffff;
$black-color: #070707;
$gray-color: #4d4d4d;

// FONTS
$font: "Lay Grotesk", Helvetica, sans-serif;

/// CONFIG
html {
  //scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: $black-color;
}

*,
*,
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/// TEXT CONFIG

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li,
label,
input,
textarea,
span,
b,
strong,
small,
table,
tr,
td {
  font-family: $font;
}

/// TEXT ///

.text-section-title {
  font-size: 14px;
  color: $white-color;
  opacity: 0.65;
}

.text-small {
  text-transform: uppercase;
  color: $white-color;
  font-size: clamp(16px, 1.042vw, 20px);
  max-width: 60%;
  margin-bottom: initial;
}

.text-large {
  font-size: clamp(24px, 2.604vw, 50px);
  margin-bottom: initial;
  color: $white-color;
}

/// PADDINGS ///
.gPadd {
  padding-block: clamp(128px, 13.333vw, 256px);
}

/// CONTAINERS ///
.main-container {
  max-width: 95vw;
  margin: 0 auto;
}

/// NO SCROLL ///
.no-scroll {
  overflow: hidden;
}

/// ESPECIAL TEXT PADD
.especial-text-padd {
  padding-block: 0px 256px;
}

/// BUTTONS

.link {
  color: $primary-color;
  text-decoration: none;
  transition: 300ms all;
  color: $white-color;
  text-transform: uppercase;
  img {
    transition: 300ms all;
  }
  &:hover {
    img {
      transform: scale(1.2) translateX(5px) translateY(-10px);
    }
    text-decoration: underline;
  }
}

.cover-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

///// CURSOR /////
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 15px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: white;
  // mix-blend-mode: difference;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 9999;
}

.interiorSection {
  .interiorSection-item {
    height: 100%;
  }
  img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  video {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  p {
    font-size: 22px;
    color: $white-color;
    opacity: 0.85;
    font-weight: 100;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white-color;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 32px;
  }

  b {
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    margin-top: 14px;
    opacity: 0.85;
  }
  small {
    opacity: 0.85;
  }

  ul {
    margin-top: 48px;
    padding-left: initial;
    max-width: 65%;
    list-style: none;
    li {
      color: $white-color;
      font-size: 18px;
      margin-bottom: 48px;

      p {
        margin-top: 14px;
        opacity: 0.85;
      }
    }

    .li-style {
      border-bottom: 1px solid $gray-color;
      padding-bottom: 24px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .main-container {
    max-width: 90vw;
  }

  .especial-text-padd {
    padding-block: 0px 124px;
  }

  .interiorSection {
    .interiorSection-item {
      padding-bottom: 32px;
      img {
        display: block;
        padding-bottom: 32px;
      }
    }
  }
}

.glitch {
  position: relative;
  &::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    background-color: $black-color;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 3s infinite linear alternate-reverse;
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 blue;
    top: 0;
    background-color: $black-color;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: animate-glitch 2s infinite linear alternate-reverse;
  }
}

@keyframes animate-glitch {
  0% {
    clip: rect(99px, 9999px, 45px 0);
  }

  5% {
    clip: rect(7px, 9999px, 49px 0);
  }

  10% {
    clip: rect(52px, 9999px, 79px 0);
  }
  15% {
    clip: rect(37px, 9999px, 43px 0);
  }
}
