.video-main-container {
  height: 100vh;
  overflow: hidden;
  .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      video {
        border-radius: 24px;
        overflow: hidden;
      }

      img {
        border-radius: 24px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .video-main-container {
    height: auto;
    padding-bottom: 124px;
    .video-container {
    }
  }
}
