.video-main-container {
  height: 100vh;
  overflow: hidden;
  .video-container {
    a {
      text-decoration: none;
      video {
        border-radius: 24px;
        overflow: hidden;
      }

      img {
        border-radius: 24px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
