.video-main-container {
  .video-container {
    a {
        text-decoration: none;
      video {
        border-radius: 24px;
        overflow: hidden;
      }

      img{
        border-radius: 24px;

      }
    }
  }
}
